aiohttp==3.9.3
aiosignal==1.3.1
argcomplete==3.2.3
async-timeout==4.0.3
attrs==23.2.0
blessed @ file:///croot/blessed_1701887495364/work
boto==2.49.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
clarabel==0.7.1
cloudpickle==3.0.0
contourpy==1.1.1
coverage==7.4.3
crcmod==1.7
cryptography==42.0.5
cvxpy==1.4.2
cycler==0.12.1
decorator==5.1.1
ecos==2.0.13
EDFlib-Python==1.0.8
einops==0.8.0
exceptiongroup==1.2.0
fasteners==0.19
filelock==3.9.0
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2024.6.1
gcs-oauth2-boto-plugin==3.0
google-apitools==0.5.32
google-auth==2.28.2
google-reauth==0.1.1
gpustat @ file:///croot/gpustat_1701888826609/work
gsutil==5.27
gym==0.26.2
gym-notices==0.0.8
h5py==3.8.0
httplib2==0.20.4
huggingface-hub==0.24.2
idna==3.6
imbalanced-learn==0.12.3
importlib_metadata==7.0.2
importlib_resources==6.1.3
iniconfig==2.0.0
Jinja2==3.1.2
joblib==1.3.2
kiwisolver==1.4.5
lazy_loader==0.3
learn2learn==0.2.0
loguru==0.7.2
MarkupSafe==2.1.3
matplotlib==3.7.5
memory-profiler==0.61.0
mne==1.6.1
mne-bids==0.13
moabb==1.0.0
monotonic==1.6
mpmath==1.3.0
multidict==6.0.5
networkx==3.0
numpy==1.24.1
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.7.0.84
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-ml-py @ file:///croot/nvidia-ml-py_1701875136273/work
nvidia-nccl-cu11==2.19.3
nvidia-nvtx-cu11==11.8.86
nvitop==1.4.2
oauth2client==4.1.3
osqp==0.6.5
packaging==24.0
pandas==1.5.3
pillow==10.2.0
platformdirs==4.2.0
pluggy==1.4.0
pooch==1.8.1
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.11.1
pycparser==2.21
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyriemann==0.5
pytest==7.4.4
python-dateutil==2.9.0.post0
pytz==2024.1
pyu2f==0.1.5
PyYAML==6.0.1
qdldl==0.1.7.post0
qpth==0.0.16
requests==2.31.0
retry-decorator==1.1.1
rsa==4.7.2
safetensors==0.4.3
scikit-learn==1.3.2
scipy==1.10.1
scs==3.2.4.post1
seaborn==0.12.2
six @ file:///tmp/build/80754af9/six_1644875935023/work
sympy==1.12
threadpoolctl==3.3.0
timm==1.0.7
tomli==2.0.1
torch==2.2.1+cu118
torchaudio==2.2.1+cu118
torchvision==0.17.1+cu118
tqdm==4.66.2
triton==2.2.0
typing_extensions==4.8.0
tzdata==2024.1
urllib3==1.26.18
wcwidth==0.2.13
xgboost==2.0.3
yarl==1.9.4
zipp==3.17.0
